.itemCheck {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
    font-family: 'Raleway', sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #a59a9a;
}
.itemCheck input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border:1px solid #e1e2e4;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.itemCheck input:checked ~ .checkmark:after {
    display: block;
}
.itemCheck .checkmark:after {
    left: 6px;
    top: 2px;
    width: 4px;
    height: 8px;
    border: solid #757779;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.containerPhotos {
  display: grid;
  grid-template-columns: 1fr 50px;
  margin: 30px 0;
  grid-gap: 10px;
  vertical-align: middle;
  align-items: center
}
.slidderPhotos {
  width: 100%;
  height: 150px;
  background: red;
}
.addMore {
  text-align: right;
}