.element {
    width: 80px;
 }

.MenuDashboard {
    background: #2b3034;
    text-align: center;
    position: fixed;
    width: 80px;
    top: 0;
    bottom: 0;
}
.LogoDashboard {
    width: 65px;
    margin-top: 20px;
}
.UlDashboard {
    margin-top: 30px;
    padding-left: 0;
}
.itemMenuDashboard {
    width: 40px;
    height: 40px;
    margin: 15px auto;
    list-style: none;
    cursor: pointer;
}
.myPets {
    background: url('/images/icon-dog.png') center center no-repeat;
    background-size: contain;
}
.myPets:hover, .selectedLink .myPets {
    background: url('/images/icon-dog-hover.png') center center no-repeat;
    background-size: contain;
}
.notifications {
    background: url('/images/icon-messages.png') center center no-repeat;
    background-size: contain;
}
.notifications:hover, .selectedLink .notifications {
    background: url('/images/icon-messages-hover.png') center center no-repeat;
    background-size: contain;
}
.findPartner {
    background: url('/images/icon-dates.png') center center no-repeat;
    background-size: contain;
}
.findPartner:hover, .selectedLink .findPartner {
    background: url('/images/icon-dates-hover.png') center center no-repeat;
    background-size: contain;
}
.provisionalHome {
    background: url('/images/icon-encontrados.png') center center no-repeat;
    background-size: contain;
}
.provisionalHome:hover, .selectedLink .provisionalHome {
    background: url('/images/icon-encontrados-hover.png') center center no-repeat;
    background-size: contain;
}
.findPet {
    background: url('/images/icon-perdidos.png') center center no-repeat;
    background-size: contain;
}
.findPet:hover, .selectedLink .findPet {
    background: url('/images/icon-perdidos-hover.png') center center no-repeat;
    background-size: contain;
}
.adoptions {
    background: url('/images/icon-adopciones.png') center center no-repeat;
    background-size: contain;
}
.adoptions:hover, .selectedLink .adoptions {
    background: url('/images/icon-adopciones-hover.png') center center no-repeat;
    background-size: contain;
}
.settings {
    background: url('/images/icon-settings.png') center center no-repeat;
    background-size: contain;
}
.settings:hover, .selectedLink .settings {
    background: url('/images/icon-settings-hover.png') center center no-repeat;
    background-size: contain;
}
.logout {
    background: url('/images/icon-logout.png') center center no-repeat;
    background-size: contain;
}
.logout:hover, .selectedLink .logout {
    background: url('/images/icon-logout-hover.png') center center no-repeat;
    background-size: contain;
}
.Dashboard {
    display: flex;
    justify-content: space-between;
}
.Ads {
    display: flex;
    flex-direction: column;
}
.Ads .banner1, .Ads .banner2 {
    width: 134px;
}
.Container {
    width: 90%;
    box-sizing: border-box;
    padding: 20px 30px 30px 100px;
}
.lineGreen.left {
    margin-left: 0;
}
.input {
    padding: 8px 10px;
    box-sizing: border-box;  
    border:1px solid #e1e2e4;
    font-size: 15px;
    color: #a59a9a;
    font-family: 'Raleway', sans-serif;
}
.my-pets-grid-container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    /* grid-template-areas:
      'foto nombre nombre edad raza'
      'foto certificado certificado emergencia genero'
      'foto adopcion perdido encontrado pareja'; */
      grid-template-areas:
      'foto foto nombre nombre raza'
      'foto foto certificado certificado genero'
      'foto foto adopcion perdido edad'
      'foto foto encontrado pareja emergencia'
      'mapa mapa mapa mapa mapa ';
    grid-gap: 10px;
    padding: 30px 0px;
  }
.my-pets-grid-container .input {
    width: 100%;
}
.my-pets-grid-container .item0 { grid-area: foto;}
.my-pets-grid-container .item1 { grid-area: nombre; }
.my-pets-grid-container .item2 { grid-area: edad; }
.my-pets-grid-container .item3 { grid-area: raza; }
.my-pets-grid-container .item4 { grid-area: emergencia; }
.my-pets-grid-container .item5 { grid-area: certificado; }
.my-pets-grid-container .item6 { grid-area: genero; }
.my-pets-grid-container .item7 { grid-area: adopcion; }
.my-pets-grid-container .item8 { grid-area: perdido; }
.my-pets-grid-container .item9 { grid-area: encontrado; }
.my-pets-grid-container .item10 { grid-area: pareja; }
.my-pets-grid-container .item11 { grid-area: mapa; height: 100px; }

.addPhoto {
    width: 200px;
    height: 130px;
}

.btnRed {
    border-radius: 15px;
    border: none;
    height: 30px;
    width: 90px;
    margin: 10px 0;
    margin-top: 100px;
    color: #fff;
    background: #e52931;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 200;
    text-align: center;
    line-height: 30px;
}

.btnRed.disabled {
    background: #a59a9a;
    cursor: default;
}
.ContainerGrid {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
.itemGrid {
    width: 31%;
    height: 290px;
    margin-bottom: 30px;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    padding: 0;
    margin: 10px;
}
.itemGrid .img-mask {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mask.black {
    background: rgba(0,0,0,.5);
}
.itemGrid:hover .mask {
    display: flex;
}
.dashboard .Modal {
    bottom: 100px;
    
}
.dashboard .ModalContent {
    display: flex;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
.photoModal {
    width: 50%;
    height: 100%;
}
.photoModal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.photoDetails {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-between;
}
.photoName {
    border-bottom: 1px solid #efefef;
    font-weight: 700;
    padding: 16px;
    width: 100%;
    box-sizing: border-box;
    color: #262626;
    font-size: 15px;
}
.photoInfo {
    padding: 30px 20px;
    font-size: 14px;
    color: #999;
    line-height: 20px;
    
}
.photoLike {
    display: block;
    background: none;
    border: none;
    margin-bottom: 10px;
    margin-left: 10px;
    cursor: pointer;
}
.photoMessage {
    border: none;
    border-bottom: 1px solid #efefef;
    border-top: 1px solid #efefef;
    padding: 10px 20px;
    height: 100px;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    color: #999;
    font-family: 'Roboto', sans-serif;
}
.photoDetails .btnRed {
    margin-left: 20px;
}
